{{> resourcesIndex}}
<link href="/css/menuctrl.css" rel="stylesheet" type="text/css" />
<div class="pd-20">
	<div class="pd-20 menuctrl_top">
		<input type="text" name="menuName" id="menuName" placeholder="栏目名称" style="width:250px" class="input-text">
		<span class="select-box inline">
			<select name="" class="select" id="menusection">
				<option value="1">/</option>
			</select>
		</span>
		<a href="javascript:void(0)" class="btn btn-success btn-menu">栏目新增</a>
	</div>

	<div class="menuctrlBody">
		
	</div>
</div>
<script src="//st.haiziwang.com/static/pc/common/js/jquery.min.js"></script>
<script type="text/javascript" src="/script/H-ui.admin.js"></script> 